.box {
  background-color: turquoise;
  position: absolute;
  border: solid;
  border-radius: 1px;
  width: 1500px;
}

.div1 {
  position: absolute;
  padding-left: 700px;
  margin-top: -70px;
}
.div2 {
  position: absolute;
  padding-left: 880px;
  margin-top: -70px;
}
.div3 {
  position: absolute;
  padding-left: 1060px;
  margin-top: -70px;
}
.div4 {
  position: absolute;
  padding-left: 1250px;
  margin-top: -70px;
}

.div5 {
  position: absolute;
  width: 1500px;
  padding-top: 85px;
  background-color: aqua;
  background-clip: content-box;
  border: solid;
}

img {
  width: 1100px;
}

.div6 {
  position: absolute;
  padding: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-left: 1050px;
  margin-top: -500px;
  border: solid;
  background-color: yellow;
  border-radius: 5px;
}
